<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI"
           path="*"
           verb="*"
           modules="FastCgiModule"
           scriptProcessor="D:\7. software\Python\python.exe|D:\7. software\Python\Lib\site-packages\wfastcgi.py"
           resourceType="Unspecified"
           requireAccess="Script" />
    </handlers>

    <!-- 静态文件处理 -->
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
    </staticContent>

    <!-- URL重写规则 -->
    <rewrite>
      <rules>
        <!-- 静态文件直接提供 -->
        <rule name="Static Files" stopProcessing="true">
          <match url="^static/.*" />
          <action type="None" />
        </rule>
        <rule name="Media Files" stopProcessing="true">
          <match url="^media/.*" />
          <action type="None" />
        </rule>
        <!-- 其他请求转发给Django -->
        <rule name="Django" stopProcessing="true">
          <match url="^(.*)$" />
          <action type="Rewrite" url="index.py/{R:1}" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>

    <!-- 安全设置 -->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="52428800" />  <!-- 50MB -->
      </requestFiltering>
    </security>

    <!-- 默认文档 -->
    <defaultDocument>
      <files>
        <clear />
        <add value="index.py" />
      </files>
    </defaultDocument>

    <!-- HTTP响应头 -->
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="SAMEORIGIN" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>

  <appSettings>
    <add key="DJANGO_SETTINGS_MODULE" value="cmms_project.settings" />
    <add key="PYTHONPATH" value="D:\14. Project\python\Maintenance\deploy" />
    <add key="WSGI_HANDLER" value="cmms_project.wsgi.application" />
  </appSettings>
</configuration>
